---
import { getUser, getUserPosts } from '../../lib/authors'
const { username } = Astro.params
var author = await getUser(username)
author = author[0]
delete author.password
const posts = await getUserPosts(username)
export const prerender = false
---
<html>
  <body>
    <h1>{author.displayname}</h1>
    <img src={author.profilepic} alt="Profile Picture" />
    <div class="flex gap-2">karma: <p>{author.karma}</p></div>
    <h2>Posts</h2>
    <ul>
      {posts.map(post => (
        <li>
          <a href={`/post/${post.id}`}>{post.title}</a>
        </li>
      ))}
    </ul>
  </body>
</html>