---
import { getPost } from '../../lib/posts'
import { getComments } from '../../lib/comments'
const { postid } = Astro.params
const post = await getPost(Number(postid))
const comments = await getComments(Number(postid))
---
<html>
  <body>
    <h1>{post.title}</h1>
    <p>{post.content}</p>
    <p>Author: <a href={`/author/${post.author}`}>{post.author}</a></p>
    <p>Published: {post.published}</p>
    <h2>Comments</h2>
    <ul>
      {comments.map(comment => (
        <li>{comment.content} - {comment.author}</li>
      ))}
    </ul>
    <form method="post" action={`/post/${postid}/comment`}>
      <textarea name="content" placeholder="Add a comment"></textarea>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>