---
const { title } = Astro.props
const { classes } = Astro.props
import Nav from "../ui/nav.astro"
---
<html lang="en">
  <head>
	<title>{title}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://blog-mini-project.netlify.app/tailwind.css" is:inline></script>
	<link rel="shortcut icon" href="https://blog-mini-project.netlify.app/pen.png" type="image/x-icon">
	<link rel="stylesheet" href="https://blog-mini-project.netlify.app/css/button.css">
	<link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
  </head>
  <body class={classes} style="background-color: black;">
		<Nav />
		
		<slot />

		<script>
		
	        var original = localStorage.getItem('theme') ?? 'dark'

			document.body.style.transition = "background-color 0.3s, color 0.3s"
			document.querySelectorAll('button').forEach(button => {
				button.style.transition = "background-color 0.3s, color 0.3s"
			})
			
			document.body.style.backgroundColor = ""

			function checkLocalStorage() {
				var bgcolors = ["[#363636]", "[#CFCBCA]"]
				var textcolors = ["white", "black"]
				var buttoncolors = ["[#CFCBCA]", "[#363636]"]
				var buttontextcolors = ["black", "white"]
				const isDarkMode = localStorage.getItem("theme") === "dark"
				var bgColorClass = isDarkMode ? `bg-${bgcolors[0]}` : `bg-${bgcolors[1]}`
				var textColorClass = isDarkMode ? `text-${textcolors[0]}` : `text-${textcolors[1]}`
				document.body.classList.remove(`bg-${bgcolors[0]}`, `bg-${bgcolors[1]}`)
				document.body.classList.remove(`text-${textcolors[0]}`, `text-${textcolors[1]}`)
				document.body.classList.add(bgColorClass)
				document.body.classList.add(textColorClass)
				var buttonBgColorClass = isDarkMode ? `bg-${buttoncolors[0]}` : `bg-${buttoncolors[1]}`
				var buttonoutlineColorClass = isDarkMode ? `border-${buttoncolors[0]}` : `border-${buttoncolors[1]}`
				var buttonbghoverColorClass = isDarkMode ? `hover:bg-${buttoncolors[0]}` : `hover:bg-${buttoncolors[1]}`
				var buttonTextColorClass = isDarkMode ? `text-${buttontextcolors[0]}` : `text-${buttontextcolors[1]}`
				var buttons = document.querySelectorAll('button')
				buttons.forEach(button => {
					button.classList.remove(`bg-${buttoncolors[0]}`, `bg-${buttoncolors[1]}`)
					button.classList.remove(`hover:bg-${buttoncolors[0]}`, `hover:bg-${buttoncolors[1]}`)
					button.classList.remove(`text-${buttontextcolors[0]}`, `text-${buttontextcolors[1]}`)
					button.classList.add(buttonBgColorClass)
					button.classList.add(buttonbghoverColorClass)
					button.classList.add(buttonTextColorClass)
					if (button.classList.contains('antibutton')) {
						button.classList.remove(buttonBgColorClass)
						button.classList.remove(buttonbghoverColorClass)
						button.classList.remove(buttonTextColorClass)
						button.classList.add(`bg-transparent`)
						button.classList.add(`hover:bg-transparent`)
						button.classList.add(`text-${buttonBgColorClass}`)
					}
					if (button.classList.contains('outlinebutton')) {
						button.classList.remove(buttonBgColorClass)
						button.classList.remove(buttonbghoverColorClass)
						button.classList.remove(buttonTextColorClass)
						button.classList.add(`text-${buttonBgColorClass}`)
						button.classList.add(`border-2`)
						button.classList.add(buttonoutlineColorClass)
						button.classList.add(`hover:${buttonBgColorClass}`)
						button.classList.add(`hover:${buttonTextColorClass}`)
					}
				})
			}

			setInterval(checkLocalStorage, 10)
			
			setTimeout(() => {
				localStorage.setItem('theme', original)
			}, 50)

			const headers = document.getElementsByClassName('navbar')
			if (headers.length > 1) {
				Array.from(headers).forEach((header, index) => {
					if (index > 0) {
						header.remove()
					}
				})
			}
		</script>

  </body>
</html>