---
const { title } = Astro.props
const { classes } = Astro.props
import Theme from "../components/theme.astro"
---
<html lang="en">
  <head>
	<title>{title}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="/pen.png" type="image/x-icon">
	<link rel="stylesheet" href="./css/button.css">
  </head>
  <body class={classes}>
		<Theme />
		<slot />
		<script>
			document.body.style.transition = "background-color 0.3s, color 0.3s"
			document.querySelectorAll('button').forEach(button => {
				button.style.transition = "background-color 0.3s, color 0.3s"
			})

			function checkLocalStorage() {
				var bgcolors = ["gray", "pink"]
				var textcolors = ["white", "black"]
				var buttoncolors = ["blue", "green"]
				var buttontextcolors = ["white", "black"]
				const isDarkMode = localStorage.getItem("theme") === "dark"
				var bgColorClass = isDarkMode ? `bg-${bgcolors[0]}-800` : `bg-${bgcolors[1]}-500`
				var textColorClass = isDarkMode ? `text-${textcolors[0]}` : `text-${textcolors[1]}`
				document.body.classList.remove(`bg-${bgcolors[0]}-800`, `bg-${bgcolors[1]}-500`)
				document.body.classList.remove(`text-${textcolors[0]}`, `text-${textcolors[1]}`)
				document.body.classList.add(bgColorClass)
				document.body.classList.add(textColorClass)
				// make this work
				var buttonBgColorClass = isDarkMode ? `bg-${buttoncolors[0]}-400` : `bg-${buttoncolors[1]}-400`
				var buttonbghoverColorClass = isDarkMode ? `hover:bg-${buttoncolors[0]}-500` : `hover:bg-${buttoncolors[1]}-500`
				var buttonTextColorClass = isDarkMode ? `text-${buttontextcolors[0]}` : `text-${buttontextcolors[1]}`
				var buttons = document.querySelectorAll('button')
				buttons.forEach(button => {
					button.classList.remove(`bg-${buttoncolors[0]}-400`, `bg-${buttoncolors[1]}-400`)
					button.classList.remove(`hover:bg-${buttoncolors[0]}-500`, `hover:bg-${buttoncolors[1]}-500`)
					button.classList.remove(`text-${buttontextcolors[0]}`, `text-${buttontextcolors[1]}`)
					button.classList.add(buttonBgColorClass)
					button.classList.add(buttonbghoverColorClass)
					button.classList.add(buttonTextColorClass)
				})
			}

			setInterval(checkLocalStorage, 10)
		</script>
  </body>
</html>